/* Estilos gerais que se aplicam qando não atendem a nenhum breakpoint específico, geralmente aplica-se para desktops (tela maior) */
body, html {

    background-color: #f1f1f1; /* Cor de fundo do corpo*/
    color: #333333;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

}

#pessoal {

    max-width: 960px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;

}

h1, h2 {

    color: #007bff;

}

#cabecalho, #formacao, #experiencia, #habilidades, #rodape {

    padding: 20px;

}

/* Breakpoint para tablets: ajusta o layout para telas até 768px de largura */
@media (max-width: 768px) {

    #pessoal {

        margin: 10px;
        padding: 15px;

    }

    h1 {

        font-size: 24px;

    }

    #cabecalho, #formacao, #experiencia, #habilidades, #rodape {

        padding: 15px;

    }
}

/* Breakpoint para celulares: ajusta o layout para telas até 520px de largura */
@media (max-width: 520px) {

    #pessoal {

        margin: 5px;
        padding: 10px;

    }

    h1 {

        font-size: 20px;

    }

    #cabecalho, #formacao, #experiencia, #habilidades, #rodape {

        padding: 10px;
        text-align: center; /* Centraliza o texto para melhor leitura numa tela pequena */

    }

}
