/* Estilos Gerais */
body, html {
	background-color: #18181f;
	color: #949494;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

#pessoal {
	text-align: center;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

h1, h2 {
	color: #007bff;
}

#nav {
	text-align: left;
}

#cabecalho {
	text-align: center;
}

.carrossel img {
    width: 100%;       /* Faz com que a imagem preencha a largura do contêiner */
    height: auto;      /* Mantém a proporção da imagem */
    display: block;   
	padding-bottom: 20px; /* Exibe a imagem como um bloco, o que remove qualquer espaço abaixo dela */
}

#rodape {
	text-align: center;
	color: #666;
	margin-top: 20px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
	#formacao, #experiencia, #habilidades {
		text-align: center;
	}
}

@media (max-width: 520px) {
	#pessoal {
		padding: 10px;
	}
}
